build*/
.vs/
out/
samples/*.h264
samples/*.opus
tizen/.buildResult/
tizen/Debug/
tizen/tizen_web_project.yaml
tizen/wasm/wake-on-lan.js
tizen/wasm/wake-on-lan.*.js
tizen/wasm/*.wasm
tizen/wasm/*.mem
/.tizen-install/
/tizen/Release/
/dist/
/vcpkg_installed/
pkg-config.exe
pkgconf.exe
scratch_pkgconf.*
*.obj
*.log
